%link{:href => '/horse.css', :rel => 'stylesheet', :type => 'text/css'}

#horse-container
  .main
    .horse
      %img{src: "/horse-js_400x400.png"}
    .text
      .title
        horse_js
      .body
        as much as I want to be, I'm not
        %a{href: 'https://twitter.com/horse_js'} @horse_js
    .date
      7 days
