- if @error
  .error
    = @error

%h2 What is their favourite language?
%p Enter a valid 'github' username to find their favourite language:

%form{name: "favourite_language", action: "/favourite", method: "post"}
  %p
    %label{for: "username"} Username
    %input{type: "text", id: "username", name: "username"}
  %p
    %input{type: 'submit', value: 'Find favourite language'}
