---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/ingenia-api/repos?per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '1484244157'
      Etag:
      - W/"0744c9b3a9655068b56833cf2004f05f"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":17714203,"name":"documatica","full_name":"ingenia-api/documatica","owner":{"login":"ingenia-api","id":1774986,"avatar_url":"https://avatars.githubusercontent.com/u/1774986?v=3","gravatar_id":"","url":"https://api.github.com/users/ingenia-api","html_url":"https://github.com/ingenia-api","followers_url":"https://api.github.com/users/ingenia-api/followers","following_url":"https://api.github.com/users/ingenia-api/following{/other_user}","gists_url":"https://api.github.com/users/ingenia-api/gists{/gist_id}","starred_url":"https://api.github.com/users/ingenia-api/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ingenia-api/subscriptions","organizations_url":"https://api.github.com/users/ingenia-api/orgs","repos_url":"https://api.github.com/users/ingenia-api/repos","events_url":"https://api.github.com/users/ingenia-api/events{/privacy}","received_events_url":"https://api.github.com/users/ingenia-api/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/ingenia-api/documatica","description":"A
        simple API documentation generator","fork":true,"url":"https://api.github.com/repos/ingenia-api/documatica","forks_url":"https://api.github.com/repos/ingenia-api/documatica/forks","keys_url":"https://api.github.com/repos/ingenia-api/documatica/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ingenia-api/documatica/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ingenia-api/documatica/teams","hooks_url":"https://api.github.com/repos/ingenia-api/documatica/hooks","issue_events_url":"https://api.github.com/repos/ingenia-api/documatica/issues/events{/number}","events_url":"https://api.github.com/repos/ingenia-api/documatica/events","assignees_url":"https://api.github.com/repos/ingenia-api/documatica/assignees{/user}","branches_url":"https://api.github.com/repos/ingenia-api/documatica/branches{/branch}","tags_url":"https://api.github.com/repos/ingenia-api/documatica/tags","blobs_url":"https://api.github.com/repos/ingenia-api/documatica/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ingenia-api/documatica/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ingenia-api/documatica/git/refs{/sha}","trees_url":"https://api.github.com/repos/ingenia-api/documatica/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ingenia-api/documatica/statuses/{sha}","languages_url":"https://api.github.com/repos/ingenia-api/documatica/languages","stargazers_url":"https://api.github.com/repos/ingenia-api/documatica/stargazers","contributors_url":"https://api.github.com/repos/ingenia-api/documatica/contributors","subscribers_url":"https://api.github.com/repos/ingenia-api/documatica/subscribers","subscription_url":"https://api.github.com/repos/ingenia-api/documatica/subscription","commits_url":"https://api.github.com/repos/ingenia-api/documatica/commits{/sha}","git_commits_url":"https://api.github.com/repos/ingenia-api/documatica/git/commits{/sha}","comments_url":"https://api.github.com/repos/ingenia-api/documatica/comments{/number}","issue_comment_url":"https://api.github.com/repos/ingenia-api/documatica/issues/comments{/number}","contents_url":"https://api.github.com/repos/ingenia-api/documatica/contents/{+path}","compare_url":"https://api.github.com/repos/ingenia-api/documatica/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ingenia-api/documatica/merges","archive_url":"https://api.github.com/repos/ingenia-api/documatica/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ingenia-api/documatica/downloads","issues_url":"https://api.github.com/repos/ingenia-api/documatica/issues{/number}","pulls_url":"https://api.github.com/repos/ingenia-api/documatica/pulls{/number}","milestones_url":"https://api.github.com/repos/ingenia-api/documatica/milestones{/number}","notifications_url":"https://api.github.com/repos/ingenia-api/documatica/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ingenia-api/documatica/labels{/name}","releases_url":"https://api.github.com/repos/ingenia-api/documatica/releases{/id}","deployments_url":"https://api.github.com/repos/ingenia-api/documatica/deployments","created_at":"2014-03-13T15:06:56Z","updated_at":"2016-04-07T14:01:14Z","pushed_at":"2016-11-29T12:20:28Z","git_url":"git://github.com/ingenia-api/documatica.git","ssh_url":"git@github.com:ingenia-api/documatica.git","clone_url":"https://github.com/ingenia-api/documatica.git","svn_url":"https://github.com/ingenia-api/documatica","homepage":"","size":395,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":4212196,"name":"ingenia_ruby","full_name":"ingenia-api/ingenia_ruby","owner":{"login":"ingenia-api","id":1774986,"avatar_url":"https://avatars.githubusercontent.com/u/1774986?v=3","gravatar_id":"","url":"https://api.github.com/users/ingenia-api","html_url":"https://github.com/ingenia-api","followers_url":"https://api.github.com/users/ingenia-api/followers","following_url":"https://api.github.com/users/ingenia-api/following{/other_user}","gists_url":"https://api.github.com/users/i[...]
