---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/dwhenry/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Ratelimit-Reset:
      - '1414895972'
      Etag:
      - '"3aa40a8bfa548424da26d8e1d48547f3"'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/63736/repos?page=2>; rel="next", <https://api.github.com/user/63736/repos?page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":17372522,"name":"angular-lightbox","full_name":"dwhenry/angular-lightbox","owner":{"login":"dwhenry","id":63736,"avatar_url":"https://avatars.githubusercontent.com/u/63736?v=2","gravatar_id":"","url":"https://api.github.com/users/dwhenry","html_url":"https://github.com/dwhenry","followers_url":"https://api.github.com/users/dwhenry/followers","following_url":"https://api.github.com/users/dwhenry/following{/other_user}","gists_url":"https://api.github.com/users/dwhenry/gists{/gist_id}","starred_url":"https://api.github.com/users/dwhenry/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dwhenry/subscriptions","organizations_url":"https://api.github.com/users/dwhenry/orgs","repos_url":"https://api.github.com/users/dwhenry/repos","events_url":"https://api.github.com/users/dwhenry/events{/privacy}","received_events_url":"https://api.github.com/users/dwhenry/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/dwhenry/angular-lightbox","description":"Look
        at implementing the lightbox using augular","fork":true,"url":"https://api.github.com/repos/dwhenry/angular-lightbox","forks_url":"https://api.github.com/repos/dwhenry/angular-lightbox/forks","keys_url":"https://api.github.com/repos/dwhenry/angular-lightbox/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dwhenry/angular-lightbox/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dwhenry/angular-lightbox/teams","hooks_url":"https://api.github.com/repos/dwhenry/angular-lightbox/hooks","issue_events_url":"https://api.github.com/repos/dwhenry/angular-lightbox/issues/events{/number}","events_url":"https://api.github.com/repos/dwhenry/angular-lightbox/events","assignees_url":"https://api.github.com/repos/dwhenry/angular-lightbox/assignees{/user}","branches_url":"https://api.github.com/repos/dwhenry/angular-lightbox/branches{/branch}","tags_url":"https://api.github.com/repos/dwhenry/angular-lightbox/tags","blobs_url":"https://api.github.com/repos/dwhenry/angular-lightbox/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dwhenry/angular-lightbox/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dwhenry/angular-lightbox/git/refs{/sha}","trees_url":"https://api.github.com/repos/dwhenry/angular-lightbox/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dwhenry/angular-lightbox/statuses/{sha}","languages_url":"https://api.github.com/repos/dwhenry/angular-lightbox/languages","stargazers_url":"https://api.github.com/repos/dwhenry/angular-lightbox/stargazers","contributors_url":"https://api.github.com/repos/dwhenry/angular-lightbox/contributors","subscribers_url":"https://api.github.com/repos/dwhenry/angular-lightbox/subscribers","subscription_url":"https://api.github.com/repos/dwhenry/angular-lightbox/subscription","commits_url":"https://api.github.com/repos/dwhenry/angular-lightbox/commits{/sha}","git_commits_url":"https://api.github.com/repos/dwhenry/angular-lightbox/git/commits{/sha}","comments_url":"https://api.github.com/repos/dwhenry/angular-lightbox/comments{/number}","issue_comment_url":"https://api.github.com/repos/dwhenry/angular-lightbox/issues/comments/{number}","contents_url":"https://api.github.com/repos/dwhenry/angular-lightbox/contents/{+path}","compare_url":"https://api.github.com/repos/dwhenry/angular-lightbox/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dwhenry/angular-lightbox/merges","archive_url":"https://api.github.com/repos/dwhenry/angular-lightbox/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dwhenry/angular-lightbox/downloads","issues_url":"https://api.github.com/repos/dwhenry/angular-lightbox/issues{/number}","pulls_url":"https://api.github.com/repos/dwhenry/angular-lightbox/pulls{/number}","milestones_url":"https://api.github.com/repos/dwhenry/angular-lightbox/milestones{/number}","notifications_url":"https://api.github.com/repos/dwhenry/angular-lightbox/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dwhenry/angular-lightbox/labels{/name}","releases_url":"https://api.github.com/repos/dwhenry/angular-lightbox/releases{/id}","created_at":"2014-03-03T16:46:51Z","updated_at":"2014-03-03T16:46:52Z","pushed_at":"2014-02-23T23:43:05Z","git_url":"git://github.com/dwhenry/angular-lightbox.git","ssh_url":"git@github.com:dwhenry/angular-lightbox.git","clone_url":"https://github.com/dwhenry/angular-lightbox.git","svn_url":"https://github.com/dwhenry/angular-lightbox","homepage":null,"size":168,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":17977081,"name":"base_sinatra_app","full_name":"dwhenry/base_sinatra_app","owner":{"login":"dwhenry","id":63736,"avatar_url":"https://avatars.githubusercontent.com/u/63736?v=2","gravatar_id":"","url":"https://api.github.com/users/dwhenry","html_url":"https://github.com/dwhenry","followers_url":"https://api.github.com/users/dwhenry/followers","following_url":"https://api.github.com/users/dwhenry/following{/other_user}","gists_url":"https://api.github.com/users/dwhenry/gists{/gist_[...]
- request:
    method: get
    uri: https://api.github.com/user/63736/repos?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1414895972'
      Etag:
      - '[...]
[...]
