---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/guidance-guarantee-programme/repos?per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '18'
      X-Ratelimit-Reset:
      - '1484244157'
      Etag:
      - W/"dfaf5c6458d88a35ab57e14aa43fe91e"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/8751528/repos?per_page=5&page=2>; rel="next",
        <https://api.github.com/user/8751528/repos?per_page=5&page=11>; rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":75173344,"name":"Accessible-Media-Player","full_name":"guidance-guarantee-programme/Accessible-Media-Player","owner":{"login":"guidance-guarantee-programme","id":8751528,"avatar_url":"https://avatars.githubusercontent.com/u/8751528?v=3","gravatar_id":"","url":"https://api.github.com/users/guidance-guarantee-programme","html_url":"https://github.com/guidance-guarantee-programme","followers_url":"https://api.github.com/users/guidance-guarantee-programme/followers","following_url":"https://api.github.com/users/guidance-guarantee-programme/following{/other_user}","gists_url":"https://api.github.com/users/guidance-guarantee-programme/gists{/gist_id}","starred_url":"https://api.github.com/users/guidance-guarantee-programme/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/guidance-guarantee-programme/subscriptions","organizations_url":"https://api.github.com/users/guidance-guarantee-programme/orgs","repos_url":"https://api.github.com/users/guidance-guarantee-programme/repos","events_url":"https://api.github.com/users/guidance-guarantee-programme/events{/privacy}","received_events_url":"https://api.github.com/users/guidance-guarantee-programme/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/guidance-guarantee-programme/Accessible-Media-Player","description":"Accessible
        Media Player by Nomensa","fork":true,"url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player","forks_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/forks","keys_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/keys{/key_id}","collaborators_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/teams","hooks_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/hooks","issue_events_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/issues/events{/number}","events_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/events","assignees_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/assignees{/user}","branches_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/branches{/branch}","tags_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/tags","blobs_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/git/refs{/sha}","trees_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/git/trees{/sha}","statuses_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/statuses/{sha}","languages_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/languages","stargazers_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/stargazers","contributors_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/contributors","subscribers_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/subscribers","subscription_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/subscription","commits_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/commits{/sha}","git_commits_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/git/commits{/sha}","comments_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/comments{/number}","issue_comment_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/issues/comments{/number}","contents_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/contents/{+path}","compare_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/compare/{base}...{head}","merges_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/merges","archive_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/downloads","issues_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/issues{/number}","pulls_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/pulls{/number}","milestones_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/milestones{/number}","notifications_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/labels{/name}","releases_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/releases{/id}","deployments_url":"https://api.github.com/repos/guidance-guarantee-programme/Accessible-Media-Player/deployments","created_at":"2016-11-30T09:47:45Z","updated_at":"2016-11-30T09:47:46Z","pushed_at":"2015-07-27T09:27:56Z","git_url":"git://github.com/guidance-guarantee-programme/Accessible-Media-Player.git","ssh_url":"git@github.com:guidance-guarantee-programme/Accessible-Media-Player.git","clone_url":"https://github.com/guidance-guarantee-programme/Accessible-Media-Player.git","svn_url":"https://github.com/guidance-guarantee-programme/Accessible-Media-Player","homepage":"","size":10597,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":26319748,"name":"alpha","full_name":"guidance-guarantee-programme/alpha","owner":{"login":"guidance-guarantee-programme","id":8751528,"avatar_url":"https://avatars.githubusercontent.com/u/8751528?v=3","gravatar_id":"","url":"https://api.github.com/users/guidance-guarantee-programme","html_url":"https://github.com/guidance-guarantee-programme","followers_url":"https://api.github.com/users/guidance-guarantee-programme/followers","following_url":"https://api.github.com/users/guidanc[...]
- request:
    method: get
    uri: https://api.github.com/user/8751528/repos?page=2&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '17'
      X-Ratelimit-Reset:
      - '1484244157'
      Et[...]
[...]
