---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/dwhenry/repos?per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '31'
      X-Ratelimit-Reset:
      - '1484244157'
      Etag:
      - W/"13761e1ae898d7351e9120d7d0a0e168"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/63736/repos?per_page=5&page=2>; rel="next", <https://api.github.com/user/63736/repos?per_page=5&page=4>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":17977081,"name":"base_sinatra_app","full_name":"dwhenry/base_sinatra_app","owner":{"login":"dwhenry","id":63736,"avatar_url":"https://avatars.githubusercontent.com/u/63736?v=3","gravatar_id":"","url":"https://api.github.com/users/dwhenry","html_url":"https://github.com/dwhenry","followers_url":"https://api.github.com/users/dwhenry/followers","following_url":"https://api.github.com/users/dwhenry/following{/other_user}","gists_url":"https://api.github.com/users/dwhenry/gists{/gist_id}","starred_url":"https://api.github.com/users/dwhenry/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dwhenry/subscriptions","organizations_url":"https://api.github.com/users/dwhenry/orgs","repos_url":"https://api.github.com/users/dwhenry/repos","events_url":"https://api.github.com/users/dwhenry/events{/privacy}","received_events_url":"https://api.github.com/users/dwhenry/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/dwhenry/base_sinatra_app","description":null,"fork":false,"url":"https://api.github.com/repos/dwhenry/base_sinatra_app","forks_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/forks","keys_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/teams","hooks_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/hooks","issue_events_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/issues/events{/number}","events_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/events","assignees_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/assignees{/user}","branches_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/branches{/branch}","tags_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/tags","blobs_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/git/refs{/sha}","trees_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/statuses/{sha}","languages_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/languages","stargazers_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/stargazers","contributors_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/contributors","subscribers_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/subscribers","subscription_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/subscription","commits_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/commits{/sha}","git_commits_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/git/commits{/sha}","comments_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/comments{/number}","issue_comment_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/issues/comments{/number}","contents_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/contents/{+path}","compare_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/merges","archive_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/downloads","issues_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/issues{/number}","pulls_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/pulls{/number}","milestones_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/milestones{/number}","notifications_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/labels{/name}","releases_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/releases{/id}","deployments_url":"https://api.github.com/repos/dwhenry/base_sinatra_app/deployments","created_at":"2014-03-21T10:57:52Z","updated_at":"2014-03-21T11:44:51Z","pushed_at":"2014-03-21T11:44:51Z","git_url":"git://github.com/dwhenry/base_sinatra_app.git","ssh_url":"git@github.com:dwhenry/base_sinatra_app.git","clone_url":"https://github.com/dwhenry/base_sinatra_app.git","svn_url":"https://github.com/dwhenry/base_sinatra_app","homepage":null,"size":116,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":51098469,"name":"blog","full_name":"dwhenry/blog","owner":{"login":"dwhenry","id":63736,"avatar_url":"https://avatars.githubusercontent.com/u/63736?v=3","gravatar_id":"","url":"https://api.github.com/users/dwhenry","html_url":"https://github.com/dwhenry","followers_url":"https://api.github.com/users/dwhenry/followers","following_url":"https://api.github.com/users/dwhenry/following{/other_user}","gists_url":"https://api.github.com/users/dwhenry/gists{/gist_id}","starred_url":"http[...]
- request:
    method: get
    uri: https://api.github.com/user/63736/repos?page=2&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '30'
      X-Ratelimit-Reset:
      - '1484244157'
      Etag[...]
[...]
