#horse-container {
  background: #FAFAFA;
  width: 66%;
  max-width: 532px;
  padding: 8px 0;
  margin: 10px 0;

  font-family: sans-serif;
  font-size: 12px;
}
#horse-container .main{
  padding: 10px 0px;
  border-top: solid 1px #EEE;
  border-bottom: solid 1px #EEE;
  position: relative;
}
#horse-container .main .horse {
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#horse-container .main .horse img {
  width: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

#horse-container .main .text {
  display: inline-block;
  line-height: 1.2em;
  margin-left: 60px;
  width: calc(100% - 70px); /* 60px for image on right + 10px for margin on left*/
}

#horse-container .main .text .title {
  font-weight: 600
}

#horse-container .main .date {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #DDD;
  font-size: 10px;
}

#horse-container .main a,
#horse-container .main a:visited {
  color: #AAAAE9;
  font-weight: 400;
  text-decoration: none;
}
#horse-container .main a:hover {
  color: #8585E0;
}
